## Heading

In [8]:
# Importing pandas
import pandas as pd

# Creating a DataFrame with three columns and three rows
data = {'Column1': [1, 2, 3],
        'Column2': ['A', 'B', 'C'],
        'Column3': [10.5, 20.3, 15.8]}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.3
2        3       C     15.8

In [9]:
df.head(1)

   Column1 Column2  Column3
0        1       A     10.5

In [10]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
# Viewing the DataFrame along with its index
df_with_index = df.copy()  # Create a copy to avoid modifying the original DataFrame
df_with_index['Index'] = df_with_index.index  # Create a new column with the index
df_with_index

   Column1 Column2  Column3  Index
0        1       A     10.5      0
1        2       B     20.3      1
2        3       C     15.8      2

In [14]:
df[df.columns[0]]

0    1
1    2
2    3
Name: Column1, dtype: int64

In [15]:
df.to_csv('Kuchuru.csv',index=False)

In [16]:
df_from_csv = pd.read_csv('Kuchuru.csv')

In [17]:
df_from_csv

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.3
2        3       C     15.8